# rename it as sdkconfig.defaults and call
# idf.py reconfigure

CONFIG_PROBE_WIFI_SSID="YOUR_WIFI_SSID"
CONFIG_PROBE_WIFI_PASS="YOUR_WIFI_PASSWORD"
CONFIG_WIFI_PROV_SCAN_MAX_ENTRIES=10

CONFIG_PROBE_NTP_SERVER="pool.ntp.org"
CONFIG_PROBE_NTP_UTC_OFFSET_MINUTES=180
CONFIG_PROBE_MQTT_BROKER_URI="192.168.7.77"

CONFIG_PROBE_EMULATE_UART=true